.homeContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
}

.profileImage {
    bottom: 0;
    position: absolute;
    width: 300px;
}