.skillsContainer {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
}

.skills {
    margin: 10px;
    padding-bottom: -5px;
    padding: 10px;
}

.skillsGroup {
    display: flex;
    justify-content: space-around;
}